@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* หยุดการเลื่อนเมื่อเอาเมาส์ชี้ที่แถบสไลด์ หรือ การ์ดรีวิว */
.animate-marquee:hover,
.marquee-container:hover .animate-marquee {
  animation-play-state: paused !important;
}